{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "semi": [2, "always"],
    "max-len": [2, 100, 2],
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-unused-vars": [2, {
        "args": "after-used",
        "vars": "all",
        "argsIgnorePatter": "^WebFontConfig$"
      }
    ]
  },
  "plugins": [
    "babel",
    "react"
  ]
}
